{{define "content" -}}
<div class="container">
   <h1 class="title">Real Estate Listings - Total Found: {{.TotalCount}}</h1>
   <div class="listings-container">
      {{range .RealState}}
         <div class="listing">
            <h3 class="listing-title">{{.Title}}</h3>
            <div class="listing-details">
               <dl>
                  <dt>Ambientes:</dt>
                  <dd>{{.Ambients}}</dd>
                  <dt>Superficie Cubierta:</dt>
                  <dd>{{.CoveredArea}}</dd>
                  <dt>Superficie Total:</dt>
                  <dd>{{.TotalArea}}</dd>
                  <dt>Barrio:</dt>
                  <dd>{{.Neighborhood}}</dd>
                  <dt>Direccion:</dt>
                  <dd>{{.Address}}</dd>
                  <dt>Precio:</dt>
                  <dd>{{.Price}}</dd>
                  <dt>Permalink:</dt>
                  <dd><a href={{.Permalink}} target="_blank">View Listing</a></dd>
               </dl>
            </div>
         </div>
      {{end}}
   </div>
{{end}}
