{{define "content" -}}
<div class="container">
   <h3 class="title">Real State. Total Found {{.TotalCount}}</h3>
   <div class="products-container">
{{range .RealState}}
    <div class="product">
        <strong>{{.Title}}</strong>
        Ambientes: {{.Ambients}} <br/>
        Superficie Cubierta: {{.CoveredArea}} m2 <br/>
        Superficie Total: {{.TotalArea}} m2 <br/>
        Barrio: {{.Neighborhood}}<br/>
        Direccion: {{.Address}}<br/>
        Precio: {{.Price}}<br/>
        Permalink: <a href={{.Permalink}}>{{.Permalink}}</a>
    </div>
{{end}}
   </div>
</div>
{{end}}
