{{define "content" -}}
<div class="container">
   <h1 class="title">Real Estate Listings - Total Found: {{.TotalCount}}</h1>
   <h2 class="title">Execution date: {{.Timestamp}}</h2>
   <div class="listings-container">
      {{range .RealState}}
         <div class="listing">
            <a href="{{.Permalink}}" class="listing-link" target="_blank">
                {{if .IsNew}}
                <div class="is-new">
                    Nuevo
                </div>
                {{end}}
                <div class="thumbnail-container">
                    <img src="{{.Thumbnail}}" alt="{{.Title}}" class="thumbnail" />
                </div>
                <h3 class="listing-title">{{.Title}}</h3>
                <div class="listing-details">
                    <dl>
                        <dt>Is New:</dt>
                        <dd>{{.IsNew}}</dd>
                        <dt>Ambientes:</dt>
                        <dd>{{.Ambients}}</dd>
                        <dt>Superficie Cubierta:</dt>
                        <dd>{{.CoveredArea}}</dd>
                        <dt>Superficie Total:</dt>
                        <dd>{{.TotalArea}}</dd>
                        <dt>Barrio:</dt>
                        <dd>{{.Neighborhood}}</dd>
                        <dt>Direccion:</dt>
                        <dd>{{.Address}}</dd>
                        <dt>Precio:</dt>
                        <dd>{{.Price}}</dd>
                        <dt>Permalink:</dt>
                        <dd><a href={{.Permalink}} target="_blank">View Listing</a></dd>
                        <dt>Fecha Agregado:</dt>
                        <dd>{{.CreatedDate}}</dd>
                    </dl>
                </div>
            </a>
         </div>
      {{end}}
   </div>
</div>
{{end}}
