{{define "header" -}}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Rental Finder</title>
    <style>
         body {
            font-family: Arial, sans-serif;
            margin: 0;
            padding: 0;
         }

         .container {
            max-width: 1200px;
            margin: 0 auto;
            padding: 20px;
         }

         .title {
            color: #2c3e50;
            text-align: center;
            margin-bottom: 30px;
         }

         .listings-container {
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
         }

         .listing {
            background-color: #f1f1f1;
            padding: 20px;
            border-radius: 5px;
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
            position: relative;
         }

         .listing-link {
            display: block;
            text-decoration: none;
            color: inherit;
         }

         .listing-visited .listing-title {
            color: #FF5722;
         }

         .listing-visited .listing-details {
            color: #FF5722;
         }

         .listing-visited::before {
            content: "Visited";
            position: absolute;
            top: 10px;
            right: 10px;
            background-color: #FF5722;
            color: white;
            font-size: 14px;
            font-weight: bold;
            padding: 4px 10px;
            border-radius: 5px;
         }

         .listing-title {
            font-size: 18px;
            color: #2c3e50;
            text-align: center;
            margin-bottom: 10px;
         }

         .listing-details {
            text-align: left;
         }

         .listing-details dt {
            font-weight: bold;
            color: #2c3e50;
         }

         .listing-details dd {
            color: #34495e;
            margin-left: 10px;
            margin-bottom: 5px;
         }

         .listing-details dd a {
            color: #3498db;
            text-decoration: none;
         }

         .thumbnail-container {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;
            height: 200px;
            overflow: hidden;
            margin-bottom: 10px;
         }

         .thumbnail {
            width: 100%;
            height: auto;
         }
    </style>
</head>
<body>
{{end}}